[Unit]
Description=Fishing Companion App

[Service]
User=Brendan
Environment=DATABASE_URI="mysql+pymysql://root:brendankirkby99300@35.246.19.71/FishingCompanion"
Environment=SECRET_KEY="shhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhsecretkey"
ExecStart=/bin/bash /opt/QA-Fundamental/Program/startup.sh


[Install]
WantedBy=Multi-user.target